/*cuerpo*/
body{
    color: whitesmoke;
    background-image:url("../Imagenes/Amadeus-Fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* encabezado*/
#encabezado, #piePagina{
    background-color: rgba(0, 0, 0, .7);
}

#encabezado ul{
    list-style: none;
    vertical-align: top;
    padding-left: 0;
}

.encabezado2{
    vertical-align: top;
    display: inline-block;
}

#encabezado a{
    color: whitesmoke;
    text-decoration: none;
}

#encabezado li{
    font-size: 1.5em;
}

.menu{
    margin-left:0;
    margin-right: 4rem;
}

.imagenCabecera{
    width: 50px;
    padding: 10px;
}

#persona{
    margin-left: 5rem;
}

.menu a:hover{
    background-color: #434343;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display: block;
}

.menu ul{
    background: rgba(0, 0, 0, .9);
}
.menu ul li a{
    background: rgba(0, 0, 0, .9);
    font-size: 20px;
}

/*pie de pagina*/

#piePagina a{
    color: whitesmoke;
}

.imagenPiePagina{
    width: 40px;
    padding: 10px;
    margin-left: 2em;
}

#piePagina li, #piePagina span{
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
}

span{
    margin-left: 10em;
}

/*Datos cuenta*/

#CuadroRegistro{
    font-weight: bolder;
    margin-left: 30em;
    margin-bottom: 3em;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: rgba(0, 0, 0, .9);
    box-shadow: 0 15px 25px  rgba(11, 235, 216, 0.856);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    color: whitesmoke;
    margin-left: 15em;
}



#CuadroRegistro a{
    text-align: center;
    font-size: 1.5em;
    margin-left: 2em;
}

#ftitular, #ftarjeta, #fnombre{
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 17px;
    color: whitesmoke;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    margin-bottom: .5em;
}

#CuadroRegistro label{
    font-size: 20px;
    color: #fff;
}



#logocuadro{
    margin-top: 1em;
    margin-left: 6em;
    display: inline;
    max-width: 250px;
}

.fecha{
    display: inline-block;
}

#faño, #fmes, #fcvv{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 4px;
    color: whitesmoke;
    
    background: transparent;
    outline: none;
    margin-bottom: .5em;
}

.fecha p{
    font-size: 2em;
}

