/*cuerpo*/
body{
    color: whitesmoke;
    background-image:url("../Imagenes/Amadeus-Fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* encabezado*/

#encabezado, #piePagina{
    background: rgba(0, 0, 0, .7);
}

#encabezado ul{
    list-style: none;
    vertical-align: top;
    padding-left: 0;
}

.encabezado2{
    vertical-align: top;
    display: inline-block;
}

#encabezado a{
    
    color: whitesmoke;
    text-decoration: none;
}

#encabezado li{
    font-size: 1.5em;

}

.menu{
    margin-left:0;
    margin-right: 5rem;
}

.imagenCabecera{
    width: 50px;
    padding: 10px;
}

#persona{
    margin-left: 25rem;
}

.menu a:hover{
    background-color: #434343;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display: block;
}

.menu ul{
    background: rgba(0, 0, 0, .9);
}
.menu ul li a{
    background: rgba(0, 0, 0, .9);
    font-size: 20px;
}

/*pie de pagina*/

#piePagina a{
    color: whitesmoke;
}

.imagenPiePagina{
    width: 40px;
    padding: 10px;
    margin-left: 2em;
}

#piePagina li, #piePagina span{
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
}

span{
    margin-left: 10em;
}


/*imagen juego*/

#ilustracionJuego, #DatosJuego {
    display: inline-block;
    margin-top: 4em;
    
}

#ilustracionJuego{
    margin-top: 10em;
    text-align: justify;
    max-width: 50%;
}

#juego{
    max-width: 100%;
}

/*datos juego*/

#DatosJuego{
    margin-left: 2em;
    text-align: center;
    vertical-align: top;
    margin-bottom: 2em;
}

#DatosJuego p{
    font-size: 1.5em;
}

#DatosJuego button{
    margin-left: 3em;
    font-size: 1.5em;
}

#tabla{
    font-size: 1.5em;
    border-collapse: collapse;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, .8);;
}

#tabla td {
    padding: 1em;
    border-bottom: rgb(16, 240, 240) 5px solid;
}



