/*cuerpo*/
body{
    color: whitesmoke;
    background-image:url("../Imagenes/Amadeus-Fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* encabezado*/
#encabezado, #piePagina{
    background-color: rgba(0, 0, 0, .7);
}

#encabezado ul{
    list-style: none;
    vertical-align: top;
    padding-left: 0;
}

.encabezado2{
    vertical-align: top;
    display: inline-block;
}

#encabezado a{
    color: whitesmoke;
    text-decoration: none;
}

#encabezado li{
    font-size: 1.5em;
}

.menu{
    margin-left:0;
    margin-right: 4rem;
}

.imagenCabecera{
    width: 50px;
    padding: 10px;
}

#persona{
    margin-left: 5rem;
}

.menu a:hover{
    background-color: #434343;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display: block;
}

.menu ul{
    background: rgba(0, 0, 0, .9);
}
.menu ul li a{
    background: rgba(0, 0, 0, .9);
    font-size: 20px;
}

/*pie de pagina*/

#piePagina a{
    color: whitesmoke;
}

.imagenPiePagina{
    width: 40px;
    padding: 10px;
    margin-left: 2em;
}

#piePagina li, #piePagina span{
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
}

span{
    margin-left: 10em;
}

/*seccion de noticias, juegos nuevos, juegos oferta*/

#Ultimas_Noticias, #Juegos_nuevos, #JuegosOferta{
    margin-left: 1rem;
}

#Ultimas_Noticias a, #Juegos_nuevos a , #JuegosOferta a{
    color: whitesmoke;
    text-decoration: none;
} 

.imgCuadricula{
    max-height: 160px;
    max-width: 160px;
    box-shadow: 15px 25px 25px  rgba(26, 90, 150, 0.856);
}

.Cuadricula{
    display: inline-block;
    margin-left: 3rem;
}